<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizable</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body>
    <header>
        <div class="organizable">
            {organiz<span class="organizable__able">able</span>}
        </div>
    </header>
    <main>
        <section class="container">
            <nav class="container--navbar">
                <a href=" ">My boards</a>
                <a href=" ">Closed boards</a>
                <a href=" "> My Profile</a>
                <button class="container--navbar__logout">Log out</button>
            </nav>
            <article class="container--options">
                <p>Boards</p>
            </article>
        </section>
    </main>
  </body>
</html>