<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizable</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <header>
        <div class="organizable">
            {organiz<span class="organizable__able">able</span>}
        </div>
    </header>
    <main>
        <form class="card-to-do">
          <div class="card-to-do__tooltip">
            <label class="tooltip_todo">To Do</label>
            <button class="tooltip_cancel"><i class="fas fa-times"></i></button>
          </div>
          <ul class="render-here-and-then-delete--delete--delete--delete">
            <li></li>
          </ul>
          <div class="card-to-do__add-card">
            <input type="text" name="add-card" placeholder="Enter a title for this card...">
            <div class="card-to-do__add-card--send">
              <button class="add-card">add card</button>
              <button class="cancel">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
    </main>
  </body>
</html>