.list-boards{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 16px;
}

.list-boards__item{
    width: 190px;
    height: 96px;
    border-radius: 3px;
    padding: 8px;
    font-weight: 700;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.list-boards__actions{
    display: flex;
    justify-content: flex-end;
   
}
.content-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.a-show{
    cursor: pointer;
}

.show-board{
    width: 100%;
    min-height:100vh;
    padding:10px  30px;
}
.show-board__header{
    
    display: flex;
    justify-content: flex-start;
    color: white;
    gap: 15px;
    align-items: center;
    width: 100%;
    height: 50px;
}

.btn-header-show{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.show_board_lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.show-board__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}