.register-form{
  /*TDDO:Cambiar cuando exista el contenedor principal  */
  margin: 5% auto;
  /* FIN TODO */

  width: 412px;
  height: 532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--background-grey);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.form-control > label {
    margin-bottom: 6px;
    font-weight: 700;
}
.form-control > input{
    width: 224px;
    height: 32px;
    background: white;
    border: var(--border-blue);
    border-radius: 3px;
    outline: none;
    padding: 10px;
}


.register-form__button{
    margin-top: 29px;
}

/*---Form List---*/
.form_new_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    width: 272px;
    height: 80px;
    background: #EBECF0;
    border-radius: 3px;
}
    .form_new_list input{
        width: 224px;
        height: 24px;
        padding: 2px 8px;
        background: #FFFFFF;
        border: 1px solid #0079BF;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
    }

    .form_new_list input::placeholder{
        font-family: var(--roboto);
        font-size: 12px;
        line-height: 20px;
        color: #5E6C84;
    }

    .form_new_list div{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
/*---------------*/

/*---form Card---*/
.form-create_card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
}
    .form-create_card div{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .form-create_card input{
        width: 224px;
        height: 24px;
        padding: 2px 8px;
        background: #FFFFFF;
        border: 1px solid #0079BF;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
    }

    .form-create_card input::placeholder{
        font-family: var(--roboto);
        font-size: 12px;
        line-height: 20px;
        color: #5E6C84;
    }
/*--------------*/    