:root {
  --background-grey: #f4f5f7;
  --background-blue: #0079bf;
  --background-green: #5aac44;

  --color-blue: #0079bf;

  --border-blue: 1px solid #0079bf;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --roboto: "Roboto", sans-serif;
  --gray: #888888;
  --background-header: #58595a;
  --background-main: #e5e5e5;
  --white: white;
  --narvbar-font-color: #172b4d;
  --background-navbar-hover: #e4f0f6;
  --hover-button-profile: #cf513d;
  --background-button-profile: #ebecf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

header,
main,
.organizable {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
main {
  flex-direction: column;
}

header {
  background-color: var(--background-header);
}

main {
  background: var(--background-main);
}


.organizable,
.organizable__able {
  font-family: var(--roboto);
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  padding: 8px 0;
}

.organizable {
  width: 900px;
  max-height: 40px;
  flex-direction: row;
}

.organizable__able {
  color: var(--gray);
}
