:root{
  --icon-color: #172B4D;
  --x-icon-color: #5E6C84;
  --background-grey:#F4F5F7;
  --background-blue:#0079BF;
  --background-green:#5AAC44;

  --color-blue:#0079BF;

  --border-blue:1px solid #0079BF;
  --box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  --roboto: 'Roboto', sans-serif;
  --gray: #888888;
  --background-header: #58595A;
  --background-main: #E5E5E5;
  --white: white;
  --narvbar-font-color: #172B4D;
  --background-navbar-hover: #E4F0F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
 
  }

  body{
    width: 100vw;
    position: relative;
  }
a{
  cursor: pointer;
}
header,
main,
.organizable {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
main {
  flex-direction: column;
}

header {
  background-color: var(--background-header);
}

main {

  background: var(--background-main);
}


.organizable,
.organizable__able {
  font-family: var(--roboto);
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  padding: 8px 0;
}

.organizable {
  width: 900px;
  max-height: 40px;
  flex-direction: row;
}

.organizable__able {
  color: var(--gray);
}

.list-boards__actions{
  display: flex;
  gap: 10px;
}

.pink{
  background-color: pink;
}

.blue{
  background-color: #0079BF;
}

.brown{
  background-color: #D29034;
}

.green{
  background-color: #519839;;
}

.red{
  background: #B04632;
}

.purple{
  background: #89609E;
}


.lime{
  background: #4BBF6B;
}

.sky{
  background: #0AAECB;
}

.grey{
  background: #838C90;
}


.yellow{
  background: #F7DC6F;
}

.orange{
  background: orange;
}
.indianred{
  background: indianred;
}
.mediumslateblue{
  background: mediumslateblue;
}
.yellowgreen{
background: yellowgreen;
}
.lightblue{
  background: lightblue;
}
.chocolate{
  background: chocolate;
}
.steelblue{
background: steelblue;
}
.mediumaquamarine{
background: mediumaquamarine;
}
.coral{
background: coral;
}
.greenyellow{
  background: greenyellow;
}

button{
  cursor: pointer;
}



.content-modal{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 63, 63, 0.2);
}

.modal{
  top: 10px;
  width: 768px;
  height: 585px;
  background-color: white;
  padding: 25px;
}

.modal__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.close-modal{
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.txt-description{
  border: none;
  color: #172B4D;
  background-color: transparent;
  padding: 2px 8px;

}
 input{
   outline: none;
 }
.description-active{
  background: #EBECF0;
  padding: 8px;
}

.content-actions{
  display: none;
}

.txt-active{

  border: 1px solid #0079BF !important;

}
.txt-active2{

  border: 1px solid #0079BF !important;

}
.txt-name{
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #172B4D;
  background-color: transparent;
}

.btn-edit{
  background: rgba(9, 30, 66, 0.04);
border-radius: 3px;
border: none;
width: 66px;
height: 24px;
}
.btn-content-close{
  font-weight: bold;
  border: none;
  background-color: transparent;


}

.btn-content-action{
  width: 77px;
  height: 24px;


  background: #5AAC44;
  border-radius: 3px;

  border: none;
  color: white;
}