.show-board__content{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.list_content{
  display: flex;
  flex-direction: column;
  background-color:#EBECF0;
  padding: 10px 8px;
  gap: 8px;
  width: 272px;
  border-radius: 3px;
}

.list_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 8px;
  align-items: center;
}
