.tool_new_board{
  display: flex;
  position: absolute;
  top: 10%;
  right: 38%;
  flex-direction: column;
  width: 272px;
  height: 107px;
  gap: 5px;
}

.container_tool_board_colors{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.tool_board{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 190px;
  height: 70px;
  background-color: IndianRed;
  padding: 6px 8px 44px 8px;
}
  .tool_board input{
    width: 154px;
    height: 20px;
    padding: 0px 4px;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: none;
  }
    .tool_board input::placeholder{
      font-family: var(--roboto);
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.75);
    }

  .tool_board button{
    width: 11.79px;
    height: 11.79px;
  }
.tool_colors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 70px;
  height: 70px;
}

  .tool_colors a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 1px;
    text-decoration: none;
    color: transparent;
    cursor: pointer;
  }

.tool_submit{
  background-color: #F4F5F7;
  width: 109px;
  height: 32px;
  color: #172B4D;
  font-family: var(--roboto);
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  border: none;
}

.IndianRed{
  background-color: IndianRed;
}
.MediumSlateBlue{
  background-color: MediumSlateBlue;
}
.YellowGreen{
  background-color: YellowGreen;
}
.LightBlue{
  background-color: LightBlue;
}
.Chocolate{
  background-color: Chocolate;
}
.SteelBlue{
  background-color: SteelBlue;
}
.MediumAquamarine{
  background-color: MediumAquamarine;
}
.Coral{
  background-color: Coral;
}
.GreenYellow{
  background-color: GreenYellow;
}

.hidden{
  display: none;
}